VITE_API_URL=https://wallhub.weconnectinnovation.online
VITE_API_URL=https://wallhub.weconnectinnovation.online
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GITHUB_TOKEN=
GITHUB_OWNER=Atif-Ayyoub
GITHUB_REPO=WallpaperCave.com
GITHUB_BRANCH=main
GITHUB_IMAGE_BASE_PATH=wallpapers
FILESYSTEM_DISK=github
